body {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100%;
    height: 225px;
    background: #f9f9f9;
}
.info {
    width: 400px;
    float: left;
}
.logo {
    width: 200px;
    float: right;
}
.comments {
    width: 100%;
    background: #eeeeee;
}
.comment {
    margin-left: 10px;
    padding: 0;
    padding-top: 30px;
}
.name {
    float: left;
    width: 80px;
    font-weight: bold;
}
.date {
    float: left;
    font-size: 11px;
}
.form {
    margin-left: 10px;
    float: left;
}
.footer {
    width: 100%;
    height: 135px;
    background: #f9f9f9;
}
.content {
    width: 960px;
    margin: 0 auto;
}